<div class="h-14 bg-slate-200/50 backdrop-blur-2xl sticky shadow text-slate-700 flex justify-between items-center px-6">
    <div class="font-bold flex justify-center items-center gap-3 text-[15px]">
        <span class="arcticons--870-games"></span>
        <span>
            project-a
        </span> 
    </div>
    <div class="space-x-5.5">
        <button title="opciones usuarios">
            <ng-icon name="featherUsers"/>
        </button>
        <button title="carrito de compras">
            <ng-icon name="featherShoppingCart"/>
        </button>
    </div>
</div>